<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error {
                color: red;
            }
        </style>
    </head>

    <body style="background-color:green">
        
        <div style=float:left><a href='/'>Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href='/blog'>All Posts</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href='/addpost'>New Post</a></div>&nbsp;&nbsp;&nbsp;&nbsp;   
        <div style=float:right><a href='login'>Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href='/logout'>Logout</a></div>

        <br>
 
        
        {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class='{{category}}'>{{message}}</li>
        {% endfor %}
        </ul>
        {% endwith %}
        
        {% block content %}
        {% endblock %}
    </body>
</html>