{% extends 'base.html' %}

{% block content %}
<form  action="/login" name='user_info_form' method="POST">
    
    <label for='enter-username'>
        Enter your Username:
        <input id='enter-username' type='text' name='enter-username' value='{{username}}'>
        {% if enter_email_error %}
            <p class='error'>{{username_error}}</p>
        {% endif %}
    </label><br>

    <label for='enter-pw'>
        Enter your password:
        <input id='enter-pw' type='password' name='enter-pw'>
        {% if create_pw_error %}
            <p class='error'>{{enter_pw_error}}</p>
        {% endif %}
    </label><br>

    <input type='submit' value='Login'>
</form>
{% endblock %}